<div class="clearfix"></div>
<div class="page-title">
  <div class="title_left">
    <h3 style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap">
      <a (click)="goHome()"><i class="fa fa-home"></i> Home Page <i class="fa fa-angle-right"></i></a>

      <small style="">Account Management</small>
    </h3>
  </div>
</div>

<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12 columns">
    <div class="x_panel">
      <div class="x_title">
        <h2>List Accounts</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="man-qs-form-action">
          <div class="row">
            <div class="man-qs-search col-md-8 col-sm-8 col-xs-12">
              <div class="form-group row">
                <div class="col-md-5 col-sm-8 col-xs-7">
                  <input maxlength="50" type="text" #keywordSearch class="form-control" (keyup.enter)="submitSearch()"
                         placeholder="Search by full name" title="Search by full name">
                </div>
                <div class="col-md-2 col-sm-4 col-xs-5  btnSearch">
                  <button style="width: auto" type="submit" class="btn btn-primary"
                          (click)="submitSearch(keywordSearch.value)" title="Search full name">Search
                  </button>
                </div>
              </div>
            </div>
            <div class="man-qs-action col-md-4 col-sm-4" style="float:left">
              <!--refresh-->
              <button type="button" class="btn btn-primary btn-circle" title="Refresh" (click)="resetAccountTable()">
                <i class="fa fa-refresh"></i>
              </button>
              <!--Filter-->
              <button type="button" class="btn btn-circle btn-circle" title="Filter" data-toggle="collapse"
                      data-target="#collapseExample">
                <i class="fa fa-filter"></i>
              </button>
            </div>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="x_panel">
              <div class="x_title">
                <h2>Filter</h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <app-filter [columns]="accountColumn" (changedValueSelectOption)="onChangedValue($event)"></app-filter>
              </div>
            </div>
          </div>
        </div>
        <app-table-directives [config]="configTable"
                              (cellClicked)="onCellClick($event)"
                              (currentPage)="getCurrentPage($event)"
                              (sort)="onSortTableAccount($event)"
                              [rows]="dataAccount" [columns]="accountColumn"></app-table-directives>
      </div>
    </div>
  </div>
</div>
